{% extends "base.html" %}
  {% block content %}
  <div class="container">
    <br><br>

  <div style="color: #070707; font-family: Gill Sans; margin-left: 330px;">
    <b><h1>Bank Detail Finder app</h1></b>
  </div>
  <br>
  <br>
<div style="font-size: 16px; margin-left: 200px;" class="col-md-10 font-family: Georgia;" >
  <p>
    This is a webapp for finding bank branches in a city or looking up bank branches details by IFSC code.
  </p>
  <p>
    All the APIs in the project are writtent using python Django-REST framework.
  </p>
  <p>
    It Uses Bootstrap4 with jQuery on the frontend.
  </p>
  <p>
    All APIs follow REST spec and are called from frontend via AJAX requests.
  </p>
  <br>
  <p>
    <a class="btn btn-primary" style="margin-left: 220px;" href="{% url 'bank_detail_finder_app:appHome' %}">Try Bank Finder</a>
  </p>
</div>
</div>
  {% endblock %}
