{% extends 'base.html' %}
{% block content %}
<div class="container">
			   {% block bank_finder_content %}{% endblock %}
</div>
<script>

     $(document).ready(function(){


        $(function() {
            $( "#bank_name" ).autocomplete({
               source: "/bankfinder/getbanks",
               minLength: 2,
            });
						$( "#city" ).autocomplete({
							 source: "/bankfinder/getcity",
							 minLength: 2,
						});
         });
        document.getElementById("response_card").hidden = true;

        $("#get_branch_details").click(function(){
            console.log("CLICKKEEEEEEEEED")


            ifsc_code = document.getElementById("ifsc_code_inp").value;
            console.log(ifsc_code)

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                      console.log(this.responseText);
                      var res=JSON.parse(this.responseText);
                      // $("#response_text").attr("href", "http://"+res['short_url']);

                      document.getElementById("response_card").hidden = false;
                      document.getElementById('data_title').innerHTML=res["bank"]["name"] ;
                      detail_str =  "City : " + res["city"] + "<br>" + "District : " + res["district"] + "<br>"
                      detail_str = detail_str + "State : " + res["state"] + "<br>" + "Address : " + res["address"] + "<br>"

                      detail_str = detail_str + "Branch : " + res["branch"] + "<br>" + "IFSC Code: " + res["ifsc"] + "<br>"

                      document.getElementById('data_detail').innerHTML= detail_str ;

                      var maps_url = "https://www.google.com/maps/search/?api=1&query=" + encodeURIComponent(res['address']+ ", " + res['city']);
                      //var encoded = encodeURIComponent(maps_url);
                      $("#open_in_maps").attr("href", maps_url);



                }else{

                        document.getElementById("response_card").hidden = true;
                        var res=JSON.parse(this.responseText);

                        $.noConflict();
                        $.alert({
                            title: 'Request could not be completed!',
                            content: res['message'] + "<br> Response Status : " + this.status,
                        });
                }
            };
            // var parm='ifsc_code=' + long_url;
            xhttp.open("GET", "/bankfinder/branch/"+ifsc_code, false);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send();
        });
         $("#get_all_branches").click(function(){
            console.log("CLICKKEEEEEEEEED")


            city = document.getElementById("city").value;
            console.log(city)
            bank_name = document.getElementById("bank_name").value;
            console.log(bank_name)

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText);
										$('#accordion').remove();
                  //  document.getElementById("accordion").hidden = false;
                    var res=JSON.parse(this.responseText);

										$('#cover_accordion').append('<div id="accordion"></div>');
                    $.each(res, function (i, v) {


											var collapse_href = 'href="#collapse'+i+'"';
											var branch_name = v['branch'];
											var data_for_accordion =
											'<div class="card">'
											+'<div class="card-header">'
											+'<div class="row">'
											+'<div class="col-md-12">'
											+'<div class="col-md-8 ">'
											+'<h7 class="card-title">'
											+'<a data-toggle="collapse"'+collapse_href+'>'
											+'<strong>'+branch_name+'</strong></a></h7></div>'
											+'</a></h4></div></div></div>'
											+'<div id="collapse'+i+'" class="collapse" data-parent="#accordion">'
											+'<div class="card-body">'
											+'IFSC Code : ' + v['ifsc'] + '<br>'
											+'District : ' + v['district'] + '<br>'
											+'Address : ' + v['address'] + '<br>'
											+'</div>'
											+'<div class="card-footer" align="end"></div>'
											+'</div></div><br>'
											$('#accordion').append(data_for_accordion);
                    });
                }else{

                  //  document.getElementById("accordion").hidden = true;
                    var res=JSON.parse(this.responseText);


                    $.noConflict();
                    $.alert({
                        title: 'Request could not be completed!',
                        content: res['message'] + "<br> Response Status : " + this.status,
                    });

                }
            };
            var param_string='bank_name=' + bank_name + '&city=' + city;
            xhttp.open("GET", "/bankfinder/branches/?"+param_string , false);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send();
         });
     });
</script>
{% endblock %}
